---
layout: default
title: Blog
---

<h2>Blog Posts</h2>

All posts:
<ul>
  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
    {% for post in year.items %}
      {% if post.type != 'fiction' %}
      <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> ({{ post.date | date: "%b %Y" }})</li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
Links:
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/fiction">Fiction</a></li>
</ul> 