---
layout: default
title: Fiction
---

<h2>Fiction Writing</h2>

About my fiction:
<ul>
  <li>Stories, never full, never complete</li>
  <li>Always fragmented excerpts</li>
  <li>Sharing them entirely would break my heart</li>
</ul>

Fiction excerpts:
<ul>
  {% for post in site.posts %}
    {% if post.type == 'fiction' %}
    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> ({{ post.date | date: "%b %Y" }})</li>
    {% endif %}
  {% endfor %}
</ul>

Links:
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/about">About</a></li>
</ul> 