---
layout: default
title: Home
---

{% for post in site.posts %}
  <article class="post">
    <div class="post-header">
      <h2 class="post-title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
    </div>

    {% if post.description %}
    <div class="post-content">
      {{ post.description }}
      <p><a href="{{ post.url | prepend: site.baseurl }}">Read more →</a></p>
    </div>
    {% endif %}
  </article>
{% endfor %}
