<nav>
  <div class="nav-content">
    <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" class="logo">{{ site.title_left }}<span>{{ site.title_right }}</span></a>
    <div class="nav-links">
      <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">about</a>
      <a href="https://github.com/techcentaur" target="_blank" rel="noopener">github</a>
      <a href="https://www.linkedin.com/in/ankitsolanki03" target="_blank" rel="noopener">linkedin</a>
      <a href="https://x.com/aeperpetually" target="_blank" rel="noopener">x</a>
    </div>
  </div>
</nav>
