<nav>
  <div class="nav-content">
    <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" class="logo">{{ site.title_left }}<span>{{ site.title_right }}</span></a>
    <div class="nav-links">
      <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a>
      <a href="{{ '/mentor' | prepend: site.baseurl | prepend: site.url }}">Mentor</a>
      <!-- <a href="{{ '/ai-services' | prepend: site.baseurl | prepend: site.url }}">AI Services</a> -->
      <a href="https://github.com/techcentaur" target="_blank" rel="noopener">GitHub</a>
      <a href="https://www.linkedin.com/in/ankitsolanki03" target="_blank" rel="noopener">LinkedIn</a>
      <a href="https://x.com/aeperpetually" target="_blank" rel="noopener">X</a>
      <a href="{{ '/riddles' | prepend: site.baseurl | prepend: site.url }}">Riddles</a>
    </div>
  </div>
</nav>
