---
layout: compress
published: true
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      <header>
        <nav>
          <a href="{{ '/' | prepend: site.baseurl }}" class="site-title">{{ site.title_left }}<span>{{ site.title_right }}</span></a>
          <div class="nav-links">
            <a href="{{ '/about' | prepend: site.baseurl }}">About</a>
          </div>
        </nav>
      </header>

      <main>
        {% if page.url == "/" %}
          {{ content }}
        {% else %}
          <article class="post">
            {{ content }}
          </article>
        {% endif %}
      </main>

      <footer>
        <span>© {{ site.time | date: '%Y' }} {{ site.author.name }}</span>
      </footer>
    </div>
  </body>
</html>
